@model Turns.Web.Models.ParameterModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
@*<script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>*@
<script type="text/javascript">

    $(document).ready(function () {
        AutocompleteCentroAtencion();
        Clasificador.listar(1);
        $('.myselect2').select2();
    });

    Clasificador = {
        editar: function (identificador) {
            var dato = {
                codeAttentionCenter: identificador
            };
            if (identificador != 0) {//boton editar
                $("#hdCentroAtencion").val(identificador);
                $.ajax({
                    type: "GET",
                    //url: "https://localhost:44303/api/CurrentRowCenterAttention",
                    url: "@Model.Parametros.WebApiUrl.AttentionCenterService/CurrentRowCenterAttention",
                    data: dato,
                    dataType: "json",
                    //beforeSend: function () {
                    //    //Globales.wait.modal('ventana-container');
                    //    $('#modal-ventana').modal('show');
                    //},
                    success: function (data) {
                        if (data.length > 0) {
                            $('#myModal').show();
                            $('#txtCentroAtencion').val(data[0].description);
                            $('#chbxEstado')[0].checked = data[0].state == "0" ? false : true;
                        }
                    }
                });
            } else {//boton Nuevo
                $("#hdCentroAtencion").val(0);
                $("#txtCentroAtencion").val("");
                $('#chbxEstado')[0].checked = false;
            }
        },

        eliminar: function (identificador) {
            var dato = {
                //Description: $("#txtCentroAtencion").val(),
                //Abbreviation: $("#txtAbreviatura").val(),
                CodeAttentionCenter: identificador
            };
            fnGlobales.msg.confirm("Eliminar el registro", function () {
                $.ajax({
                    type: "POST",
                    //url: "https://localhost:44303/api//Eliminar",
                    url: "@Model.Parametros.WebApiUrl.AttentionCenterService/Eliminar",
                    data: JSON.stringify(dato),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (resultado) {
                        switch (resultado) {
                            case -1:
                                fnGlobales.msg.error("Hubo error al realizar la operación", function () { });
                                break;
                            default:
                                Clasificador.listar(1);
                                fnGlobales.msg.automatico("Se eliminó correctamente", function () { });
                                break;
                        }
                    },
                    error: function (resultado) {
                        alert("error");
                    }
                });
            });
        },

        listar: function (page) {
            table = $('#tblCentroAtencion');
            var dato = {
                strField: 'CodeAttentionCenter',
                strOrder: 'DESC',
                strPagDesde: page,
                strPagHasta: table.data('pagesize'),
                strCbxCentroAtencion: $("#cbxCentroAtencion").val() == null ? -1 : $("#cbxCentroAtencion").val(),
                strIdComboActivo: $("#miselect").val()
            };
            $.ajax({
                //url: "https://localhost:44303/api/AttentionCenter",
                url: "@Model.Parametros.WebApiUrl.AttentionCenterService/AttentionCenter",
                type: "GET",
                data: dato,
                dataType: "json",
                success: function (data) {
                    if (data.length > 0) {
                        table.data('page', page);
                        table.data('totalrows', data[0].totalRows);
                        var tabla = table.children('tbody');
                        tabla.children('tr').remove();
                        var rows = '';
                        $.each(data, function (i, r) {
                            rows += fnGlobales.string.format('<tr><td id="idElCodigo" style="display:none;">{0}</td>', r.codeAttentionCenter);
                            rows += fnGlobales.string.format('<td style="text-align:center">{0}</td>', r.rowNumber)
                            rows += fnGlobales.string.format('<td style="text-align:left width:250px" >{0}</td>', r.description);
                            rows += '<td style="width:120px;">';
                            rows += fnGlobales.string.format('<div class="d-flex justify-content-center">');
                            rows += fnGlobales.string.format('<div class="align-content-center text-center"> <button type="button" id="ButtonEditar" class="editar edit-modal btn  botonEditar" onclick="Clasificador.editar({0})" data-toggle="modal" data-target="#myModal"><span class="fa fa-edit "></span><span class="hidden-xs"> </span></button></div> ', r.codeAttentionCenter);
                            rows += fnGlobales.string.format('<div class="align-content-center text-center"> <button type="button" id="ButtonEliminar" class="editar edit-modal btn  botonEditar" onclick="Clasificador.eliminar({0})"><span class="fa fa-trash "></span><span class="hidden-xs"> </span></button></div> ', r.codeAttentionCenter);
                            rows += '</div>';
                            rows += '</td>';
                            rows += '</tr>';
                        });
                        fnGlobales.pagination.update(table);
                        tabla.append(rows);
                    } else {
                        var tabla = table.children('tbody');
                        tabla.children('tr').remove();
                        $('#tblCentroAtencion tbody').append("<tr><td colspan='8' class='text-center text-bold'>NO SE ENCONTRARON REGISTROS.</td></td>");
                    }
                },
                error: function (data) {
                    fnGlobales.error.show('mensajes', data.responseText);
                }
            });
        },

        reset: function () {
            $("#cbxCentroAtencion").empty();
            $("#cbxCentroAtencion").append('<option value=-1>--Seleccione--</option>');
            AutocompleteCentroAtencion();
            $("#miselect").val("1");
            Clasificador.listar(1);
        }
    }

    function Save() {
        fnGlobales.msg.confirm("de guardar la información", function () {
            var dato = {
                Description: $("#txtCentroAtencion").val(),
                //Abbreviation: $("#txtAbreviatura").val(),
                CodeAttentionCenter: parseInt($("#hdCentroAtencion").val())
            }
            $.ajax({
                //url: "https://localhost:44303/api/SaveCenterAttention",
                url: "@Model.Parametros.WebApiUrl.AttentionCenterService/SaveCenterAttention",
                data: JSON.stringify(dato),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (resultado) {
                    switch (resultado.codeAttentionCenter) {
                        case 0:
                            fnGlobales.msg.existe("Ya existe registrada la sede MAC", function () { });
                            break;
                        case -1:
                            fnGlobales.msg.error("Hubo un error al realizar la operación", function () { });
                            break;
                        default:
                            Clasificador.listar(1);
                            fnGlobales.msg.automatico("Se guardó correctamente", function () { });
                            break;
                    }
                },
                failure: function (data) {
                    alert(data.responseText);
                }, //End of AJAX failure function
                error: function (data) {
                    alert(data.responseText);
                } //End of AJAX error function
            });
        });
    }

    function AutocompleteCentroAtencion() {
        $.ajax({
            type: "GET",
            //url: "https://localhost:44303/api/AutocompleteCentroAtencion",
            url: "@Model.Parametros.WebApiUrl.AttentionCenterService/AutocompleteCentroAtencion",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#cbxCentroAtencion").empty();
                $("#cbxCentroAtencion").append('<option value=-1>--Seleccione--</option>');
                for (var i = 0; i < data.length; i++) {
                    $("#cbxCentroAtencion").append("<option value=" + data[i].codeAttentionCenter + ">" + data[i].description + "</option>");
                }
            },
            failure: function (data) {
                alert(data.responseText);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    }

</script>

<div class="card mb-0">
    <div class="card-header text-center bg-danger">
        Centro de Atención
    </div>
    <div class="card-body p-3">
        <div class="row m-2 border-card align-items-center">
            <div class="col-md-2">
                <strong>Centro de Atención</strong>
            </div>
            @*<div class="col-md-4"><input class="form-control" /></div>*@
            <div class="col-md-6">
                <select class="myselect2 form-control" id="cbxCentroAtencion"></select>
            </div>

            <div class="col-md-1"><strong>Estado</strong></div>
            <div class="col-md-3">
                <select class="form-control" id="miselect">
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>
        </div>

        <div class="col-md-12 mt-4 d-flex justify-content-center">
            <button type="button" class="btn btn-success mr-1" onclick="Clasificador.listar(1)"><i class="fas fa-search" style="margin-right:5px;"></i>Buscar</button>
            <button type="button" class="btn btn-secondary mr-1" style="margin-left:3px;" onclick="Clasificador.reset()"><i class="fas fa-times-circle"></i> Limpiar</button>
            <button type="button" class="btn btn-outline-secondary" style="margin-left:3px;" data-toggle="modal" data-target="#myModal" onclick="Clasificador.editar(0)"><i class="fas fa-plus-circle" style="margin-right:5px;"></i> Nuevo</button>

        </div>
        <div id="hdCentroAtencion"></div>
        <hr class="hr-videos mb-0" />
        <div class="row pt-4 px-4">
            <div class="table-responsive">
                <table class="table table-bordered table-hover tabla-estado-reclamos tabla-datos" id="tblCentroAtencion" data-pagesize="10" data-page="1" data-totalrows="0" data-function="Clasificador.listar" data-paginator="paginator">

                    <thead class="thead-dark ">
                        <tr>
                            <th class="align-middle" style="display:none"> CodeAttentionCenter</th>
                            <th class="align-middle" style="text-align:center ; width:10%">N°</th>
                            <th class="align-middle" style="text-align:center">Centro de Atención</th>
                            @*<th class="align-middle" style="text-align:center">Tipo de Servicio</th>*@
                            <th class="align-content-center text-center" colspan="1" style="width:12%">Acciones</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <div class="d-flex justify-content-center align-items-center">
                                    @*<div style="font-size:16px; padding-left: 15px;">Mostrando 1 al 10 de 50 registros.</div>*@
                                    <div style="font-size:16px; padding-left: 15px;"></div>
                                    <div id="paginator" class="btn btn-group font-weight-bold" role="group"></div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal " id="myModal">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger" id="cabecera">
                <h5 class="modal-title">Mantenimiento de Centro de Atención</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row col-md-18">
                    <div class="col-md-5">
                        <label>Centro de Atención:</label>
                    </div>
                    <div class="col-md-18">
                        <input style="width:275px" class="form-control" id="txtCentroAtencion" type="text" name="name" value="" />
                    </div>
                    <div class="row col-md-8">
                        <div class="col-md-8">
                            <label> Estado:</label>
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" id="chbxEstado" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            @*<--informacion del cuerpo--/>*@
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Save()"> <i class="fas fa-save" style="padding-right:8px;"></i>Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-window-close" style="padding-right:8px;"></i>Cerrar</button>
            </div>
        </div>
    </div>
</div>

